@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.main-btn, .text-bg, .tag-title, .header__menu a, .main__offer p, .navigation nav a, .applicability__block_title, .advantages__item_title, .footer__credits {
  font-family: 'Anonymous Pro', monospace;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  color: #757575;
}

section {
  overflow: hidden;
}

p {
  margin: 0;
  padding: 0;
}

a, button {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

h1 {
  font-family: 'Arial';
  font-weight: bold;
  font-size: 48px;
  line-height: 101.52%;
  text-transform: uppercase;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #444444;
}

.main-btn {
  font-size: 14px;
  color: #757575;
  line-height: 14px;
  padding: 18px 36px;
  background-color: #FFFFFF;
  border: 2px solid #D2CFE1;
  border-radius: 30px;
  display: inline-block;
}

.main-btn:hover {
  color: #fff;
  border: 2px solid #757575;
  background-color: #757575;
}

.text-bg {
  font-weight: bold;
  font-size: 144px;
  line-height: 144px;
  letter-spacing: 0.08em;
  color: #FFFFFF;
  text-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
}

.tag-title {
  color: #9EE9BC;
}

.section-content h2 {
  margin: 15px 0 43px 0;
}

.section-content p {
  line-height: 115.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 325px;
  text-align: justify;
}

.section-content p span {
  color: #B8C5D6;
  display: block;
  margin-right: 5px;
}

.section-image {
  max-width: 100%;
}

.anime-block {
  opacity: 0;
}

.header {
  padding: 27px 0;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu a {
  color: #7C7C7C;
  font-size: 14px;
}

.main__social-newtwork {
  margin-top: 280px;
}

.main__social-newtwork a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 25px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__offer > img {
  margin: 127px 0 29px 0;
}

.main__offer p {
  margin: 7px 0 23px 0;
  line-height: 18px;
}

.main__img-wrapper {
  position: relative;
}

.main__img-wrapper .main__code-bg {
  position: absolute;
  top: 0;
  left: -25px;
  z-index: 1;
}

.main__img-wrapper .text-bg {
  margin-left: -25px;
  margin-bottom: 87px;
}

.main__img-wrapper .main__img {
  position: relative;
  z-index: 2;
  margin-bottom: 50px;
  max-width: 100%;
}

.navigation {
  padding: 34px 0;
}

.navigation nav a {
  font-size: 18px;
  color: #B8C5D6;
}

.applicability {
  padding: 138px 0 45px 0;
}

.applicability__block {
  width: 225px;
  max-width: 100%;
  margin: 0 auto;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
  border-radius: 17px;
  padding: 34px 14px 17px 14px;
}

.applicability__block_title {
  color: #7C7C7C;
  margin: 25px 0 13px 0;
  font-weight: 700;
}

.applicability__block_text {
  font-weight: 300;
  font-size: 14px;
  line-height: 107.69%;
  margin-bottom: 16px;
}

.applicability__block a {
  font-size: 14px;
  line-height: 14px;
  color: #189599;
}

.applicability__block a:hover {
  color: #98DFB4;
}

.applicability__block.second {
  margin-top: 50px;
}

.applicability .section-content {
  width: 300px;
  margin: 106px auto 0 auto;
}

.applicability .text-bg {
  margin-top: 31px;
}

.video-monitoring {
  padding: 130px 0 150px 0;
  background: url(../img/video-monitoring-bg.png) no-repeat center left;
}

.video-monitoring .section-content {
  margin-top: 100px;
}

.advantages {
  padding: 34px 0;
}

.advantages__block {
  width: 840px;
  padding: 32px 52px 45px 52px;
  margin: 0 auto;
  background: url(../img/advantages-bg.png) no-repeat top left;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__item {
  color: #189599;
  text-shadow: 0px 0px 8px rgba(24, 149, 153, 0.7);
  text-align: center;
}

.advantages__item_title {
  font-size: 64px;
  line-height: 64px;
  letter-spacing: 0.08em;
}

.tele-radio-fonds {
  padding: 168px 0;
}

.tele-radio-fonds .section-content {
  margin-top: 60px;
}

.inventory {
  padding: 25px 0 190px 0;
  background: url(../img/cadastre-bg.png) no-repeat top left;
}

.inventory .text-bg {
  margin-left: 25px;
}

.inventory .section-content {
  margin-top: 70px;
}

.review {
  padding: 43px 0;
}

.exploration {
  padding: 160px 0 140px 0;
}

.footer {
  background: #189599;
  padding: 38px 0;
}

.footer__credits {
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.header__burger, .main__mobile-wrapper, .main-btn-mobile {
  display: none;
}

@media (max-width: 1200px) {
  .main__img-wrapper .text-bg {
    margin-bottom: 0;
  }
  .applicability .section-content {
    margin-left: 30px;
  }
}

@media (max-width: 991px) {
  section:not(.main) {
    padding: 70px 0;
  }
  .text-bg {
    font-size: 120px;
    line-height: 120px;
  }
  .section-content p {
    width: 100%;
  }
  .main {
    padding-bottom: 120px;
  }
  .main__social-newtwork {
    margin-top: 220px;
  }
  .main__offer > img {
    margin-top: 80px;
  }
  .main .text-bg {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    position: absolute;
    left: -35px;
    top: 250px;
  }
  .main__img-wrapper .main__img {
    margin-top: 120px;
  }
  .applicability .section-content {
    width: 100%;
    margin-top: 50px;
  }
  .video-monitoring .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .advantages__block {
    width: 100%;
    padding: 32px 30px 45px 30px;
  }
  .inventory .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .exploration .section-image {
    margin-bottom: 70px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 36px;
    line-height: 101.52%;
  }
  .header {
    padding: 15px 0;
  }
  .header .container {
    position: relative;
  }
  .header__logo {
    display: block;
    text-align: center;
  }
  .header__menu {
    position: absolute;
    top: 36px;
    right: -100%;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    background: #fff;
    width: 100%;
    height: 100vh;
    z-index: 100;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    -webkit-box-align: end !important;
        -ms-flex-align: end !important;
            align-items: flex-end !important;
    padding: 50px;
  }
  .header__menu.active {
    right: 0;
  }
  .header__menu a {
    margin-bottom: 30px;
  }
  .header__burger {
    display: block;
    position: absolute;
    top: 3px;
    right: 15px;
    cursor: pointer;
  }
  .main {
    background: url(../img/main-bg-mobile.png) no-repeat top right;
    padding-bottom: 40px;
  }
  .main__social-newtwork {
    margin-top: 250px;
  }
  .main__offer > img {
    width: 30px;
    height: 30px;
    margin: 30px 0 50px 0;
  }
  .main__offer p br {
    display: none;
  }
  .main__offer .main-btn {
    display: none;
  }
  .main__img-wrapper {
    display: none;
  }
  .main__mobile-wrapper {
    display: block;
    margin-top: -100px;
  }
  .main__mobile-wrapper > img {
    width: 250px;
  }
  .main .main-btn-mobile {
    display: inline-block;
    margin-top: 33px;
  }
  .navigation {
    padding: 34px 0 !important;
    display: none;
  }
  .applicability {
    padding: 55px 0 0 0 !important;
    background: url(../img/applicability-bg-mobile.png) no-repeat top left;
  }
  .applicability__block {
    margin: 0;
  }
  .applicability__block.first {
    position: relative;
    z-index: 2;
  }
  .applicability__block.second {
    position: relative;
    margin-left: auto;
    margin-top: -15px;
    z-index: 1;
  }
  .applicability .section-content {
    margin-left: 0;
    margin-top: 29px;
  }
  .applicability .text-bg {
    display: none;
  }
  .video-monitoring {
    padding: 120px 0 85px 0 !important;
    background-position-y: top;
  }
  .video-monitoring .section-image {
    width: 275px;
    display: block;
    margin: 0 auto;
  }
  .video-monitoring .section-content {
    margin-top: 70px;
  }
  .advantages {
    padding: 20px !important;
  }
  .advantages__block {
    padding: 32px 0 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: url(../img/advantages-bg-mobile.png) no-repeat top left;
  }
  .advantages__item {
    margin-bottom: 37px;
  }
  .tele-radio-fonds {
    padding-bottom: 30px !important;
  }
  .inventory {
    padding-top: 20px !important;
  }
  .inventory .text-bg {
    display: none;
  }
  .inventory .section-image {
    margin-top: 30px;
  }
  .inventory .container {
    background: url(../img/cadastre-bg-container-mobile.png) no-repeat top right;
  }
  .review {
    padding: 0 !important;
  }
  .review .text-center {
    padding: 0 45px;
    line-height: 21px;
  }
  .review .text-center br {
    display: none;
  }
}
